body{
    text-align: center;
    font-family: sans-serif;
    background-color: lightgrey;
}

button{
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(65, 169, 238);
}

div {
    margin: 10px;
}

.hidden {
    display: none;
}

#cat {
    content: url(/styles/celebrationcat.jpg);
    text-align: center;
    height: 300px;
    width: auto;
}

#robot {
    content: url(/styles/robot.jpeg);
    
}

.centerPic {
    margin: 0 auto;
}

.sugesstion {
    padding:3px;
}

input {
    margin: 8px;
}
